/* 头部整体 */
.top-area {
    height: 40px;
    background-color: #333;
}
/* 头部内容 */
.top-navigation-bar {
    width: 1226px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
}
.top-navigation-bar a {
    color: #b0b0b0;
}

/* 向左浮动 */
.left-service, .left-service li{
    float: left;
}

/*购物车*/
.shop-car {
    float: right;
}
/*用户信息*/
.right-user-service, .right-user-service li {
    float: right;
}
/*头部分割线*/
.line {
    color: #424242;
    padding: 0 7px;
}