/* 头部整体 */
.top-area {
    /* 宽度100% */
    width: 100%;
    /* 高度 */
    height: 40px;
    /* 设置行高可以让文字垂直居中 */
    line-height: 40px;
    background-color: #333;
}

/* 设置导航栏的超链接的样式 */
.top-navigation-bar a {
    font-size: 12px;
    color: #b0b0b0;
    /* 将a变成块元素，使超链接的范围变成一整块 */
    display: block;
}
/* 设置鼠标悬停效果 */
.top-navigation-bar a:hover {
    color: #fff;
}

/* 向左浮动 */
.left-service, .left-service li{
    float: left;
    position: relative;
}

/* 下载二维码 */
.qrcode {
    position: absolute;
    width: 124px;
    /*height: 148px;*/
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    left: -36px;
    background-color: white;
    /* 去除父元素的行高影响 */
    line-height: 1;
    /* 文字居中 */
    text-align: center;

    /* 图片使用渐变方式出现 */
    /*display: none;*/
    height: 0px;
    overflow: hidden;
    transition: height 2s;
    z-index: 999;
}

/* 二维码图片 */
.qrcode img {
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}
.qrcode span {
    color: #333333;
    font-size: 14px;
    /*display: inline-block;*/
    /*margin-left: 18px;*/
}

/* 二维码小三角 */
.app::after {
    display: none;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border:8px solid transparent;
    border-top: none;
    border-bottom-color: white;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* 二维码悬停显示 */
.app:hover::after{
    display: block;
}
.app:hover .qrcode  {
    height: 148px;
}

/*购物车*/
.shop-car a {
    width: 120px;
    float: right;
    text-align: center;
    background-color: #424242;
    margin-left: 26px;
    position: relative;
}
/* 购物车的鼠标悬停 */
.shop-car:hover a{
    color: orange;
    background-color: #fff;
}
/* 购物车悬停详情 */
.shop-car-details {

    width: 316px;
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    left: -196px;

    height: 0;
    overflow: hidden;
    transition: height 1s;
}
.shop-car:hover .shop-car-details {
    height: 100px;
    color: black;
    line-height: 100px;
}
.shop-car:hover span {
    display:block;
}
.shop-car-details span {
    display: none;
}

/*用户信息*/
.right-user-service, .right-user-service li {
    float: right;
}

/*头部分割线*/
.line {
    color: #424242;
    padding: 0 7px;
}

/* 商城分类 */
.myclassification {
    /*width: 100%;*/
    position: relative;
    /*background-color: #6bbb25;*/
}
.myclassification-details {
    height: 100px;
    /*background-color: #0c76d4;*/
}
/* 小米商城logo */
.myLogo {
    float: left;
    width: 55px;
    height: 55px;
    /*margin-top: 22px;*/
    position: absolute;
    /*display: inline-block;*/
}
.logos {
    float: left;
    width: 55px;
    height: 55px;
    margin-top: 22px;
    position: relative;
    overflow: hidden;
    background-color: #ff6700;
    /* 隐藏logo中的文字 */
    text-indent: -9999px;

}
.logo-logo {
    transition: left 0.5s;
    left: 0px;
    background-image: url("../img/mi-logo.png");
    background-size: 55px;
}
.logo-home {
    transition: left 0.5s;
    left: -55px;
    background-image: url("../img/mi-home.png");
    background-size: 55px;
}
.logos:hover > .logo-logo{
    left: 55px;
}
.logos:hover >.logo-home{
    left: 0px;
}

/* 小米分类中间分类 */
.zhongjianfenlei {
    /*width: 850px;*/
    height: 100px;
    float: left;
    line-height: 100px;
    /*background-color: #9198e5;*/
    margin-left: 7px;
    padding-left: 58px;
}
.zhongjianfenlei > li {
    float: left;
    margin-right: 20px;
}
.zhongjianfenlei > li a{
    display: block;
    font-size: 16px;
    color: #333333;
}
.zhongjianfenlei li a:hover {
    color: #ff6700;
}
/* 隐藏allGoods */
.allGoods {
    visibility: hidden;
    position: relative;
}

.zhongjianfenlei-xiangqing {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 100px;
    left: 0;
    transition: height 0.35s;
}

.showGoods:hover ~ .zhongjianfenlei-xiangqing {
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}

.zhongjianfenlei-xiangqing:hover {
    height: 228px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}

/* 右侧搜索栏 */
.searchGod {
    width: 296px;
    height: 100px;
    float: right;
    /*background-color: #bfc;*/
}
.searchInput {
    float: left;
    box-sizing: border-box;
    width: 244px;
    height: 50px;
    border: 1px solid rgb(224, 224, 224);
    border-right: none;
    margin-top: 25px;
    padding: 0 10px;
    font-size: 16px;
}
.searchBtn {
    box-sizing: border-box;
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 25px;
    font-size: 19px;
    border: 1px solid rgb(224, 224, 224);
    color: #616161;
}
.searchInput:focus, .searchInput:focus + .searchBtn{
    border-color: #ff6700;
}
.searchBtn:hover {
    background-color: #ff6700;
    color:white;
    border-color: #ff6700;
}

/* 左侧菜单 */
.left-menu {
    position: absolute;
    visibility: visible;
    width: 235px;
    background-color: rgba(105,101,101,.6);
    left: -120px;
    /*border-width: 13px 0;*/
    /*border-style: solid;*/
    /*border-color: rgba(105,101,101,.6);*/
    padding: 20px 0;
    z-index: 33;
}
.left-menu >li {
    height: 43px;
}
.left-menu >li>a {
    display: block;
    height: 43px;
    line-height: 43px;
    padding-left: 30px;
    font-size: 13px;
    color: white;
}
.left-menu >li>a>i {
    float: right;
    line-height: 43px;
    font-size: 20px;
    padding-right: 20px;
}
.left-menu >li>a:hover {
    background-color: #ff6700;
    color: white;
}
/* 左侧分类详情*/
.left-menu-details {
    position: absolute;
    height: 470px;
    width: 800px;
    /*background-color: #bfc;*/
    left: 235px;
    top: 0px;
    display: none;
}
.left-menu>li:hover ~ .left-menu-details {
    display: block;
    box-shadow: 4px 0 7px rgba(0,0,0,.3);
    background-image: url("../img/3.jpg");
    /* 图片不重复 */
    background-repeat: no-repeat;
    /* 图片的比例不变，将元素铺满 */
    background-size: cover;
}

/* 轮播图 */
.myBanner {
    height: 470px;
    background-color: #2fa527;
}
.banner-details {
    /*position: absolute;*/
    position: relative;
    height: 470px;
    background-color: #4d25bb;
    z-index: 1;
}
.banner-details img {
    position: absolute;
    height: 470px;
}